@charset "UTF-8";
.banner604{
    position: relative;
}
.banner604 a{
    position: absolute;
    top: 0;
    left: 0;
    height: 604px;
    width: 100%;
    background: url(../images/banner.jpg) no-repeat top center;
}
.main{
    position: relative;
}
.slider{
    width: 730px;
    height: 453px;
    margin: 12px 0 0 220px;
    float: left;
    position: relative;
}
.slider .circle{
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -66px;
}
.circle li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    float: left;
    background-color: #3E3E3E;
    text-align: center;
    color: #fff;
    line-height: 18px;
    margin: 0 2px;
    cursor: pointer;
}
.circle li.current{
    background-color: #B61B1F;
}
.arrow-l,
.arrow-r {
    width: 28px;
    height: 62px;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    color: #fff;
    font: 500 18px/62px Simsun;
    text-align: center;
    background: rgba(0,0,0,.2);
}
.arrow-l{
    left: 0;
}
.arrow-r{
    right: 0;
}
.arrow-l:hover,
.arrow-r:hover {
    background: rgba(0,0,0,0.4);
}
.news{
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 12px;
}
.jd-news{
    height: 200px;
    border-bottom: 1px dashed #E4E4E4;
}
.jd-news .dt,
.lifeservice .dt{
    height: 43px;
    border-bottom: 1px dotted #E8E8E7;
    line-height: 43px;
}
.jd-news .dt h3,
.lifeservice .dt h3{
    float: left;
    padding-left: 15px;
    font: 14px/43px "microsoft yahei";
    color: #666;
}
.jd-news .dt a{
    float: right;
    font: 13px/43px simsun;
    /*margin-right: 15px;*/
    padding-right: 15px;
}
.jd-news .dd ul{
    padding: 8px 0 0 15px;
}
.jd-news .dd li{
    line-height: 28px;
}
.jd-news .dd span{
    font-weight: 700;
    margin-right: 5px;
}
.lifeservice{
    width: 248px;
    height: 251px;
    overflow: hidden;
}
.lifeservice .dd ul{
    width: 252px;
}
.lifeservice .dd li{
    float: left;
    width: 62px;
    height: 70px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    margin-left: -1px;
}
.lifeservice .dd li a{
    display: block;
    height: 70px;
    padding-top: 44px;
    text-align: center;
    position: relative;
}
.lifeservice .dd li i{
    position: absolute;
    top: 12px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../images/spriteicon.png) no-repeat right top;
}
.lifeservice .song{
    background: url(../images/song.png) no-repeat top right;
}

/*11活动*/
.todays{
    position: relative;
}
.night{
    margin: 10px 0 28px 0;
}
.night_r{
    float: left;
    width: 1000px;
    height: 160px;
    overflow: hidden;
}
.night_r ul{
    width: 500%;
}
.night_r li{
    float: left;
    margin-right: 1px;
}