<div class="shadow-corner-curl hidden-xs">
    <div class="categories-list-header">
        相关链接
    </div>
    <ul class="list-unstyled">
         <li>
             <a href="https://github.com/" class="categories-list-item">
                 GitHub
             </a>
         </li>
         <li>
             <a href="http://www.stackoverflow.com/" class="categories-list-item">
                 Stack Overflow
             </a>
         </li>
         <li>
             <a href="http://developer.android.com/" class="categories-list-item">
                 Android Developer
             </a>
         </li>
         <li>
             <a href="http://www.importnew.com/" class="categories-list-item">
                 ImportNew
             </a>
         </li>
         <li>
             <a href="http://androidweekly.net/" class="categories-list-item">
                 Androidweekly
             </a>
         </li>
         <li>
             <a href="http://tushare.waditu.com/" class="categories-list-item">
                 Tushare
             </a>
         </li>
        <li>
            <a href="http://www.w3school.com.cn" class="categories-list-item">
                W3school
            </a>
        </li>
        <li>
            <a href="/task0003/index.html" class="categories-list-item" target="_blank">
                ToDos
            </a>
        </li>
    </ul>

</div>
